[2022-02-25 10:07] ronaldtse opened #1 "Implement PubID parsing for ISO"
Document identifier parsing is currently implemented in https://github.com/relaton/relaton-iso

ISO document identifiers look like this:

International standards:
* "ISO 9001" (undated identifier)
* "ISO 9001:2015" (dated identifier)
* "ISO/{WD, CD, DIS, FDIS} 9001:2015" (identifier for draft document)

Technical report ("TR") or Technical specification ("TS"):
* "ISO/TR 9001" (undated identifier)

[2022-02-25 10:08] ronaldtse commented on #1
@mico can you help implement this gem like the nist-pubid? This would be a lot easier. You can find specs and parsing code in relaton-iso. Thanks!

[2022-02-26 17:16] ronaldtse commented on #1
Here's the full list of deliverables original from https://github.com/relaton/relaton-iso/issues/9

These types are officially defined here: https://www.iso.org/deliverables-all.html.

Technical Specification
* type: `technicalSpecification`
* title: `{publisher}/TS XXXXX`
* example: https://www.iso.org/standard/70292.html ("ISO/IEC TS 29125:2017")

Technical Report
* type: `technicalReport`
* tit

[2022-02-28 05:58] mico commented on #1
@ronaldtse what data I can use to test the parser? Using Algolia I can only find data for identifiers, but how can I get identifiers list?

[2022-02-28 06:22] ronaldtse commented on #1
@mico this is a bulk list of 8282 identifiers to try with. I believe ISO has ~25,000 standards in total. Let's use this list.

[iso-sample-identifiers.txt](https://github.com/metanorma/pubid-iso/files/8151040/iso-sample-identifiers.txt)

[2022-02-28 06:28] mico commented on #1
There is identifiers like:
FprISO 8437-2
FprISO 22125-2
FprISO/IEC 17029

What is "Fpr" there? Should I just ignore them?

[2022-02-28 06:35] ronaldtse commented on #1
"Fpr" stands for "Final ProoF", which is a "stage code" like "WD", "DIS" etc, but it is appended to the front.. we need to implement this pattern.

[2022-02-28 07:44] mico commented on #1
@ronaldtse what use cases for this parser? We were using "nist-pubid" for old -> new PubID conversion and to get document URL. I believe here we want to get document URL at least.

[2022-02-28 07:59] ronaldtse commented on #1
The goal is to move the URN functionality from Relaton-ISO into here. And we will go back to refactor Relaton-ISO to use this gem.

[2022-02-28 08:02] ronaldtse commented on #1
Please also help document the individual elements of the document ID scheme so we have a full explanation of how the scheme works.

The URN scheme is documented at RFC 5141.

[2022-02-28 08:02] mico commented on #1
Could you give an example of URN functionality in Relaton-ISO?

[2022-02-28 08:09] ronaldtse commented on #1
https://github.com/relaton/relaton-iso/issues/85

You can see https://github.com/relaton/relaton-iso#search-for-standards-using-keywords

[2022-02-28 14:12] ronaldtse commented on #1
@mico I found several errors in the original txt, here's the fixed one.
[iso-sample-identifiers-v2.txt.zip](https://github.com/metanorma/pubid-iso/files/8153926/iso-sample-identifiers-v2.txt.zip)

[2022-03-01 14:25] ronaldtse commented on #1
metanorma-iso: https://github.com/metanorma/metanorma-iso/blob/568c109c71a07707101a7410770a2213765332a9/lib/isodoc/iso/metadata.rb#L17-L28

relaton-iso:
https://github.com/relaton/relaton-iso/blob/1e8fa72f3ff79ca2972e01518fbb9d87b1afed22/lib/relaton_iso/scrapper.rb#L13-L49

https://github.com/relaton/relaton-iso/blob/528597f13bab5a9c09955dcc50bab97246949931/lib/relaton_iso/iso_bibliography.rb#L134

[2022-03-02 10:24] mico commented on #1
Seems "relaton-iso" create wrong URN's for some identifiers, for example it provides URN `"urn:iso:std:iso-tr:tr:30406:stage-60.60:ed-1:en,fr"` for PubID `"ISO/TR 30406:2017"`
Where "iso-tr" at "originator" place, but in rfc5141:
`originator    = "iso" / "iso-iec" / "iso-cie" / "iso-astm" / "iso-ieee" / "iec"`
So I believe it should be: `"urn:iso:std:iso:tr:30406:stage-60.60:ed-1:en,fr"`
@ronaldts

[2022-03-02 10:37] ronaldtse commented on #1
Yes indeed it was incorrect. That's why we need proper parsing.

[2022-03-02 13:30] mico commented on #1
@ronaldtse could you help with this one: https://www.iso.org/standard/54944.html
It's "IWA 8:2009". In RFC "IWA" is the type:
`
      iwa   = International Workshop Agreement
`
But here it's using like an organization. Is it wrong identifier? Should be "ISO IWA 8:2009" ?

[2022-03-02 13:32] ronaldtse commented on #1
@mico the IWA is a special case. It is a "joint publication from many organizations/people" so treat IWA as the publisher. It is just "IWA 8:2009" not "ISO IWA 8:2009".

[2022-03-02 13:48] mico commented on #1
@ronaldtse I didn't find documents with "Fpr" prefix on iso.org, is it the same as "PRF" stage? Should we support this identifiers?

[2022-03-02 14:38] mico commented on #1
identifiers with "ED" on the list "iso-sample-identifiers-v2.txt":
[code]

Should I just drop "ed" part here or should I parse it as edition? On iso.org I can't find documents using this ids, need to drop "ed" part. Only these 9 documents have "ed" part.

[2022-03-02 14:50] mico commented on #1
Found few document with document number with "."
First idea was it's edition number because ISO 11243 have edition 3 document, but ISO 21143 don't have edition 2, so now I'm confused what to do with this numbers...
ISO 11243.3
ISO/FDIS 21420.2
ISO 21143.2

[2022-03-03 00:56] ronaldtse commented on #1
We should support parsing of these identifiers, but not the generation of them. We should use the "PRF" stage when we generate the PubID.

This is tricky because the "edition number" and "edition year" cannot be found together in an official PubID. The URN does require the edition number not the edition year.

1. When we parse "ISO 16622:2002 Ed 1" ("Ed 1", "ED1", "Ed.1"), we need to store both in

[2022-03-03 01:17] ronaldtse commented on #1
We also need to parse the "amendments" and "corrigendum" PubIDs. An additional list is provided here.
[iso-sample-identifiers-additional.txt.zip](https://github.com/metanorma/pubid-iso/files/8174002/iso-sample-identifiers-additional.txt.zip)

[2022-03-03 07:33] mico commented on #1
So after parsing PubID I should be able to generate PubID (it can look different from original) and URN, right?

[2022-03-03 07:39] mico commented on #1
Do we represent ballot "iteration" in URN?

[2022-03-03 07:47] ronaldtse commented on #1
Yes, iteration is placed under Stage in RFC 5141.

[code]

[2022-03-03 10:18] mico commented on #1
There is identifier on the list: "ISO 10438-1:2003 EN 80601-2-60", seems it's 2 identifiers:
ISO 10438-1:2003 and IEC 80601-2-60
Makes me think we shouldn't adapt our parser to everything on the list. Sometimes there are some mistakes.

[2022-03-03 13:09] ronaldtse commented on #1
@mico yes, this "ISO 10438-1:2003 EN 80601-2-60" is a mistake". It should have only been "ISO 10438-1:2003".

Just let me know when you find exceptions, I will let you know whether it is a mistake. Thanks.

[2022-03-06 06:27] ronaldtse opened #3 "Clean up parsing for "Cor of Amd""
Need to update the way parsing works for Amd and Cor.

A Cor can be applied to an Amd document or a normal document. An Amd can apply on a normal document.

_Originally posted by @ronaldtse in https://github.com/metanorma/pubid-iso/pull/2#discussion_r819372804_

[2022-03-06 06:31] ronaldtse opened #4 "Parse "ISO/IEC/IEEE" as 2 separate co-publishers"
Right now "IEC/IEEE" is treated as one co-publisher.

We need to keep "IEC" and "IEEE" as separate co-publishers.

e.g. "ISO/IEC/IEEE 15289:2019"

_Originally posted by @ronaldtse in https://github.com/metanorma/pubid-iso/pull/2#discussion_r819229099_

[2022-03-06 11:35] ronaldtse opened #5 "Parse "ISO ... | IDF ..." document identifiers"
[code]

https://www.iso.org/obp/ui/#iso:std:iso:5537:ed-1:v1:en

<img width="969" alt="Screenshot 2022-03-06 at 7 34 56 PM" src="https://user-images.githubusercontent.com/11865/156921255-b5acbfea-ee6c-4c32-a1ac-bacd06f6bdfe.png">

[2022-03-06 16:11] ronaldtse opened #6 "Internationalized PubIDs: French"
ISO provides French PubIDs, with these following changes:

* "ISO Guide NNN" => "Guide ISO NNN"
* "ISO/IEC" => "ISO/CEI"
* "Cor N" => "Cor.N"
* "Amd N" => "Amd.N"

[code]

[2022-03-06 16:42] ronaldtse opened #7 "Generate two types of PubIDs: "Reference number" vs "PubID" (with or without language)"
https://www.iso.org/obp/ui#iso:std:iso-iec:14496:-10:dis:ed-8:v1:amd:1:v1:en
https://www.iso.org/obp/ui#iso:std:iso:12164:-6:dis:ed-1:v1:fr
https://www.iso.org/obp/ui#iso:std:iso-iec:27006:ed-3:v1:ar
https://www.iso.org/obp/ui#iso:std:iso:4618:ed-2:v1:ru
https://www.iso.org/obp/ui/#iso:std:iso:14021:ed-1:v1:es

## PubID

Document cover:
<img width="489" alt="Screenshot 2022-03-07 at 12 16 23 AM" s

[2022-03-06 16:46] ronaldtse opened #8 "Internationalized PubIDs: Russian"
ISO provides PubIDs in Russian:

* ISO is ИСО
* ISO/IEC is ИСО/МЭК
* TR is ТО
* TS is ТС
* DIS is ПМС
* FDIS is ОПМС
* "ISO Guide" is "Руководства ИСО"
* "ISO/IEC Guide" is "Руководство ИСО/МЭК"

NOTE: More information can be found here: https://ru.delta-engineering.be/iso

All the following identifiers come from official ISO information, mostly from the website.
[code]

[2022-03-06 17:07] ronaldtse opened #9 "Handle draft Amd and Cor stages"
Amendments:
* FDAmd or FDAM => FDIS Amd
* {PWI,NP,AWI,WD,CD,PRF} Amd => {stage} Amd
* DAmd => DIS Amd
* PDAM => (Proposed Draft Amendment) == CD Amd
* DAM or FPDAM => (Final Proposed Draft Amendment) == DIS Amd

Corregendum:
* {PWI,NP,AWI,WD,CD,PRF} Amd => {stage} Amd
* pDCOR => CD Cor
* DCOR => DIS Cor
* FDCor => FDIS Cor

Amd:

[code]

Cor:

[code]

[2022-03-06 17:08] ronaldtse opened #10 "Handle legacy TS and TR PubIDs"
Previously the "CD" stage for "TR" and "TS" is called "PDTR" and "PDTS":

[code]

[2022-03-06 17:11] ronaldtse opened #11 "Incorporate Metanorma documentation of ISO PubID to README"
https://www.metanorma.org/author/iso/ref/document-attributes/#document-identifier

[2022-03-06 17:26] ronaldtse opened #12 "Handle IWA identifiers (and its draft stages)"
We need to handle the IWA draft stages.

[code]

We need to parse items like:
[code]

But the correct forms are:
[code]

(Updated list)

[2022-03-06 18:01] ronaldtse commented on #12
I've committed the above samples:
https://github.com/metanorma/pubid-iso/blob/7702bab1d42305660706887419bf26f84d5a5242/spec/fixtures/iwa-pubid.txt#L1-L17

[2022-03-06 18:04] ronaldtse opened #14 "Handle language code in ISO PubID"
There are two types of language codes.

## Reference number

As seen in #7, the Reference number ends with "(XX)" where "XX" is an ISO 3166 2-character language code.

We've seen the following
* `en` for English
* `fr` for French
* `ar` for Arabic
* `ru` for Russian
* `es` for Spanish
* `de` for German

## PubID

As seen in #7, the PubID ends with "(X)" where "X" is a single character code:
* E fo

[2022-03-06 18:11] ronaldtse commented on #1
This is done in #2

[2022-03-06 18:11] #1 closed

[2022-03-07 06:23] mico opened #15 "Generate PubID after parsing original PubID"
Additionally, to generating URN we need to generate PubID after parsing original identifier.

[2022-03-07 07:59] mico commented on #15
duplicate #7

[2022-03-07 07:59] #15 closed

[2022-03-07 09:03] #14 closed

[2022-03-07 11:48] mico commented on #7
There are 2 ways how to format PubID identifier with stage:
- ISO/IEC TR 24754-2:2011
- ISO/TR 30406:2017

When we don't have copublisher we use "/" before the stage. When we have copublisher, we use a space before the stage.
@ronaldtse Should we keep this logic? I'm afraid it's not so machine readable.

[2022-03-07 11:52] ronaldtse commented on #7
Yes, this is required. It is still machine-readable in our understanding because the stage acronyms (TS, TR, etc) are defined.

[2022-03-08 02:50] #3 closed

[2022-03-08 03:22] mico commented on #7
"ISO/IEC 10646:2020/CD AMD 1.2"
@ronaldtse There is a stage "CD" after number, normally it's before. Is it related to amendments? Should we keep the same logic?

[2022-03-08 03:39] ronaldtse commented on #7
Yes this is a "CD AMD", an Amendment in the "CD" stage.

[2022-03-08 05:21] mico commented on #7
@ronaldtse I cannot see how is it implemented for URN, no mention there that stage could belong to Amendment or Corrigendum

[2022-03-08 05:47] mico commented on #7
Seems these are URN identifiers. They differ from what we generate. Stage here is just a short code, not numeric. Amendment without year has number "1" before version. Edition has a version (ed-2:v1). Should we consider this?

[2022-03-08 06:49] ronaldtse commented on #7
Yes we should do this.

RFC 5141 also has version for edition:
[code]

It describes `docversion`:

[code]

We should consider this indeed. In RFC 5141, only this is allowed:

[code]

Let me contact ISO about this.

[2022-03-08 09:09] mico commented on #7
@ronaldtse In the title you mention we should "Generate two types of PubIDs". Couldn't get what is another type. Reference number and PubID look the same. Did I cover everything in #18, what is missing?

[2022-03-08 10:59] mico commented on #12
Does AWI == NP stage? How should I convert it to URN and PubID?

[2022-03-08 11:44] ronaldtse commented on #7
@mico Maybe I used the wrong mechanism to distinguish the features. Notice that there are two differences:

1. Dated vs undated. "ISO 9001:2005" vs "ISO 9001".
2. Language code: absent vs 1-character vs 2-character.

These should probably be options when generating the PubID?

e.g.
[code]

[2022-03-08 18:17] ronaldtse commented on #12
@mico AWI is not NP stage. AWI = "Approved Work Item". NP = "New Work Item Proposal".

https://www.metanorma.org/author/iso/ref/document-attributes/#document-type-and-stage

<img width="610" alt="Screenshot 2022-03-09 at 2 17 17 AM" src="https://user-images.githubusercontent.com/11865/157300527-e0b1639e-f0a0-4de9-ba30-e0f23e33b774.png">

[2022-03-08 18:23] #4 closed

[2022-03-09 03:59] mico commented on #12
How can I know is it stage 10.99 or 10.98?

These identifiers are at stage 20.00:
https://www.iso.org/standard/61118.html
https://www.iso.org/standard/50073.html
https://www.iso.org/standard/79649.html
Is AWI stage or copublisher here?

[2022-03-09 04:11] ronaldtse commented on #12
@mico AWI is stage.

Good find... then we need to update that AWI is 20.00...

Ping @opoudjis for comment.

[2022-03-09 04:19] opoudjis commented on #12
I'll need to review the ISO documentation.

[2022-03-09 07:50] mico opened #24 "Render edition version for URN identifiers"
Yes we should do this.

RFC 5141 also has version for edition:
[code]

It describes `docversion`:

[code]
_Originally posted by @ronaldtse in https://github.com/metanorma/pubid-iso/issues/7#issuecomment-1061463317_

[2022-03-09 10:58] #9 closed

[2022-03-09 12:41] #10 closed

[2022-03-09 12:45] #6 closed

[2022-03-09 12:46] mico commented on #8
@ronaldtse do we want to produce Russian version of PubIDs, like French version?

[2022-03-09 12:56] ronaldtse commented on #8
@mico absolutely. ISO has 3 official languages: English, French and Russian. PubIDs are created in these languages differently. They also have the Arabic language PubID format, even though that is not officially used.

[2022-03-09 12:57] ronaldtse commented on #8
Since ISO Russian standards are published less common than English/French, I am not able to find the acronyms of the stages (e.g. Russian version of AWI, WD) and document types (e.g. IWA in Russian)

[2022-03-09 13:04] ronaldtse opened #27 "Add tests for "AWI Amd""
These are not in the current test suite, even though they are properly parsed.

[code]

[2022-03-09 13:06] ronaldtse opened #29 "Add GHA for Ruby 3.1"

[2022-03-09 13:09] #27 closed

[2022-03-09 13:16] mico commented on #8
I found it there: https://ru.delta-engineering.be/iso
<img width="882" alt="image" src="https://user-images.githubusercontent.com/5849/157448642-cbc94c6a-f4db-4913-9ae4-b1ee3b0372d8.png">
AWI == АВИ
CD == КПК (need to double check)
ПДТР == PDTR
ПДТС == PDTS
and more on the page

[2022-03-09 13:28] ronaldtse commented on #8
That's why I gave that link 😉 Thanks!

[2022-03-10 01:53] ronaldtse commented on #12
@mico just use AWI as 20.00. No need to wait for @opoudjis , there is no ISO documentation on the stage codes mapping to document stages.

[2022-03-10 03:42] mico commented on #7
@ronaldtse how about "amd:1:v1" here? It's PubID "ISO/IEC 14496-10:2014/DAM 1" now we use only "amd:v1" without "1" between for this. Should I add "1" between there? I don't understand exactly what it means there, because we have version there already. Maybe number "1" is default when the year is missing...

[2022-03-10 03:54] ronaldtse commented on #7
@mico "amd:1" is the "first" amendment. "v1" is the default version unless it was corrected. So "amd:1:v1" is correct.

From RFC 5141:
[code]

[2022-03-10 05:02] mico opened #31 "Render amendment number for URN for PubIDs without amendment year"
@mico "amd:1" is the "first" amendment. "v1" is the default version unless it was corrected. So "amd:1:v1" is correct.

From RFC 5141:
[code]

_Originally posted by @ronaldtse in https://github.com/metanorma/pubid-iso/issues/7#issuecomment-1063637751_

[2022-03-10 08:59] mico commented on #8
@ronaldtse Information is quite messy there, it's hard for me to understand what equal what, for example for stage 40 we have a list of stage identifiers:

- DIS
- FCD
- FPDAmd
- ДАмд (ДАМ)
- ФПДИСП
- DTR
- DTS

ok, "ДАмд" is transliteration of "DAmd", but "ФПДИСП" in transliteration should be "FPDISP", so maybe it's FPD stage and ISP type...
Only stages covered on the page, no types or organizati

[2022-03-10 09:17] ronaldtse commented on #8
That's probably correct.

Let's just do whatever you have for now. We can get clarification in the future.

[2022-03-10 10:35] #8 closed

[2022-03-11 06:00] mico commented on #24
@ronaldtse could you find any PubID examples with corrected edition?
Like "urn:iso:std:iso:9999:-1:ed-1:v2:en" from examples in RFC 5141
I didn't find any, so maybe they are not exist, only in URN form...

[2022-03-11 06:19] #7 closed

[2022-03-11 06:19] #31 closed

[2022-03-11 06:20] #29 closed

[2022-03-11 06:28] ronaldtse opened #36 "Clarification of ISO stage codes: AWI, WD, FDIS and PRF stages"
## AWI is stage 10.98 or 20.00
<img width="696" alt="Screenshot 2022-03-11 at 2 23 17 PM" src="https://user-images.githubusercontent.com/11865/157814175-5a56f82f-fefe-45bc-8769-10cf00ddc52b.png">
<img width="702" alt="Screenshot 2022-03-11 at 2 23 08 PM" src="https://user-images.githubusercontent.com/11865/157814179-ec5a7ea8-caeb-4847-8eed-853c9192b57c.png">

<img width="690" alt="Screenshot 2022-

[2022-03-11 06:30] ronaldtse opened #37 "Add documentation on how to use gem and how PubID works"
* Basic pattern of ISO PubID
* Explain the elements: originator, copublishers, document types, stages, standard number (and part number)
* Dated vs undated PubID
* PubID with language code or not. 2 types of language codes (single letter vs 3166).
* 3 languages of PubID (English, French, Russian)
* URN according to RFC 5141

[2022-03-11 06:36] #11 closed

[2022-03-11 07:25] ronaldtse commented on #36
Updated readme and Metanorma documentation.

[2022-03-14 08:58] #36 closed

[2022-05-01 08:13] ronaldtse opened #40 "Add additional samples that include "ISO/CD" and "ISO/CD2" prefixes"
Somehow we only have very few "CD" stage PubIDs.

More samples to add:

[code]

[2022-05-13 08:44] ronaldtse opened #41 "Handle ISO TC N-document numbers"
Interestingly, it embeds the "iso committee identifier" inside

The pattern is `{committee / working group} N{number}`

The general pattern for committee can be:
- "{org}/{tc-type}{/}{sc-number}..."
- "{org}/{tc-type} {tc-number}"
- "{org}/{tc-type} {tc-number}/{wg-type} {wg-number}"
- "{org}/{tc-type} {tc-number}/{sc-type} {sc-number}"

e.g. "ISO/IEC JTC 1/SC 32 N1001".

* `tc-type` can be TC, JT

[2022-05-14 06:09] mico opened #42 "Pubid::Iso::Identifier.year returns year with formatting"
Pubid::Iso::Identifier.year returns ":1234" now. Need to have output without format to use from other projects.

[2022-05-14 06:23] mico opened #44 "Cannot parse document with amendment without document's year"
Parsing identifier "ISO 19110/Amd 1:2011" returns parsing error.

[2022-05-14 09:13] mico commented on #41
@ronaldtse we don't have rules for URN generation for TC document in RFC 5141.
So what can it look like?
"ISO TC 184/SC 4 N1110" -> "urn:iso:std:iso:tc:184:sc:4:1110"?

[2022-05-15 05:46] ronaldtse commented on #41
@mico you're right, let's improvise here. I believe we can switch the "urn:iso:std" to "urn:iso:doc" here to represent ISO N-docs.

[2022-05-15 05:49] #42 closed

[2022-05-15 05:57] #44 closed

[2022-05-17 06:37] #41 closed

[2022-05-17 06:38] ronaldtse opened #47 "Extract Committee Document Identifiers (N-documents) into a separate Identifier subclass"
Perhaps we should parse N-documents separately from the standard deliverables like IS, TS, TR, etc. Can we have a different class for them?

The types of standard deliverables are the ones we usually parse. Thanks.

e.g.
[code]

_Originally posted by @ronaldtse in https://github.com/metanorma/pubid-iso/issues/46#issuecomment-1128471522_

[2022-05-20 10:21] mico opened #48 "Provide letter stage code mapping/linking to/from stage numbers (and URN stages)"
I found a problem with pubid-iso, I can't update stage using number for Pubid::Iso::Identifier.
[code]

`pubid.to_s` will return error because it's expecting one of stages abbreviation (like FDIS or CD)

It's ok, until I want to generate URN with stage number like "90.93", with current implementation it's impossible.

[2022-05-20 10:25] mico commented on #48
I already started new implementation and faced some challenges.
For example original identifier "ISO/PRF 105-A03" will be converted "ISO/FDIS 105-A03" because they use the same numeric value "50".
Now I use this mapping:
[code]

[2022-05-20 10:38] ronaldtse commented on #48
@mico I believe PRF is at stage 60.00, IS is stage 60.60:
https://www.metanorma.org/author/iso/ref/document-attributes/

[2022-05-23 09:42] mico commented on #48
We was discussing before, not all stages at this document are correct. Check here: https://github.com/metanorma/pubid-iso/issues/36

[2022-05-24 07:25] ronaldtse commented on #48
Ah right. In this case, we should standardize the stage code from PRF.

There are two different issues:
1. Stage code => Abbreviated stage. This is uncertain for 50.00 and 50.20, as both can be FDIS or PRF.
2. Abbreviated stage => Stage code. This we can set a standard for. We can say that PRF always translates to 60.00, because that's what a "proof" means. FDIS always maps to "50".

Yes. If the u

[2022-05-30 04:11] mico opened #51 "Amd/Cor stage rendering should be kept separate from base document PubID"
Now we place stage for documents with amendments/corrigendum and documents without in different places.
For "ISO/IEC 14496-12/CD Amd 4" we have stage after number, but for "ISO/IEC TR CD 20943-5" it's placed before document number.
Should we generate something like "ISO/IEC CD 14496-12/Amd 4"?
Or "ISO/IEC TR 20943-5/CD" instead of "ISO/IEC TR CD 20943-5"?

[2022-05-30 04:13] ronaldtse commented on #51
These are two entirely different cases:

Amd/Cor uses this pattern:
[code]

* "ISO/IEC 14496-12/CD Amd 4" means CD stage of "Amd 4" for base document "ISO/IEC 14496-12".
* "ISO/IEC TR CD 20943-5" means CD stage of "ISO/IEC TR 20943-5".

The meanings are entirely different, please keep them separate. Thanks.

[2022-05-30 05:41] mico commented on #51
How URN format should reflect it?
Now URN format don't make difference between amendment stage or document stage
[code]

[2022-05-30 07:19] ronaldtse commented on #51
This is a good find -- this issue is not addressed in RFC 5141.

However, we can assume the following:
* the `{base PubID}` is always the published one.

This means there is no need to encode the `stage` of the base document, and that the stage always applies to the Amd.

This is correct:
[code]

[2022-05-30 07:41] #51 closed

[2022-06-01 06:44] mico opened #52 "Add comparator methods for corrigendum and amendment"
https://github.com/relaton/relaton-iso/pull/111#discussion_r877952880

[2022-06-01 15:11] #52 closed

[2022-06-03 15:36] ronaldtse opened #54 "Provide documentation on how to create identifiers using gem"
As requested by @opoudjis https://github.com/metanorma/metanorma-iso/issues/657#issuecomment-1146028990

[2022-06-14 12:59] andrew2net opened #57 "(URGENT) Parsing of ISO/IEC Directives necessary"
We have new documents in the relaton-data-iso repo and pubis-iso fails with the IDs like `ISO IEC DIR 1`
https://github.com/relaton/relaton-iso/runs/6880704298?check_suite_focus=true#step:6:249

All new IDs:
- `ISO/IEC DIR 1` or reference `ISO IEC DIR 1`
- `ISO/IEC DIR 1 ISO SUP` or reference `ISO IEC DIR 1 ISO SUP`
- `ISO/IEC DIR 2 ISO` or reference `ISO IEC DIR 2 ISO`
- `ISO/IEC DIR JTC 1 SUP` o

[2022-06-16 11:38] ronaldtse commented on #57
@andrew2net will provide the full list but they are ones like:

## ISO/IEC Directives, Part 1

* ISO/IEC DIR 1
* ISO/IEC DIR 1:2022
* ISO/IEC Directives Part 1
* ISO/IEC Directives, Part 1
* ISO/IEC Directives, Part 1:2022

## ISO/IEC Directives, Part 2

* ISO/IEC DIR 2
* ISO/IEC DIR 2:2021
* ISO/IEC Directives Part 2
* ISO/IEC Directives, Part 2
* ISO/IEC Directives, Part 2:2021

## ISO/IEC Direc

[2022-06-17 06:35] mico commented on #57
@ronaldtse what is the "Directives" documents? Is it another document type? Like "TR", "TS", "IWA"?
Or is it something like technical committee documents? Like https://github.com/metanorma/pubid-iso/issues/41 this one.
Moreover, I found "JTC" in the part of PubID of document mentioned above is the type of "TC" documents, does it have a connection?

Trying to figure out how to build parser better,

[2022-06-17 08:51] ronaldtse commented on #57
These are a special type of ISO and IEC documents called the Directives.

ISO and IEC share the "ISO/IEC Directives", which is a set of documents explaining the processes of both organizations.
* The Directives has 2 parts, Part 1 and Part 2.
* ISO and IEC each have an additional "supplement" to the Directives
* ISO has a "Consolidated ISO supplement" on top of Directives Part 1.
* IEC has an "IEC

[2022-06-18 15:06] ronaldtse commented on #57
@mico I'm not sure if #58 fully parses all the combinations listed in https://github.com/metanorma/pubid-iso/issues/57#issuecomment-1157559404 . Can we have a txt file that lists them out that ensure they are parsed in RSpec? Thanks.

[2022-06-19 01:37] mico commented on #57
You are right.
Edition parsing, organization-specific supplement and combined document are missing.
Do we need to parse long form? Like "ISO/IEC Directives Part 1" / "ISO/IEC Directives, Part 1 -- Consolidated ISO Supplement"?

[2022-06-19 02:33] mico commented on #57
Supplement without document number? Should I use some default number? (Like 1)

[2022-06-19 07:56] ronaldtse commented on #57
This one means it is the "IEC Supplement to the ISO/IEC Directives (both parts)".

[2022-06-19 07:57] ronaldtse commented on #57
Yes we should support long form and those other attributes.

[2022-06-19 08:00] ronaldtse commented on #57
Interestingly, the "ISO Supplement " is only to Part 1, but the "IEC Supplement" is to both parts. So we need to parse them correctly.

[2022-06-22 06:58] mico commented on #57
Supplement's edition?

[2022-06-22 08:20] ronaldtse commented on #57
@mico yes, edition of the Supplement:
https://www.iso.org/sites/directives/current/consolidated/index.xhtml
<img width="618" alt="Screenshot 2022-06-22 at 5 20 24 PM" src="https://user-images.githubusercontent.com/11865/174980241-915dbba7-3d09-4caf-94b2-0773288f3550.png">

[2022-06-23 01:25] mico commented on #57
Is it not the same as "ISO/IEC DIR 1:2022 IEC SUP:2022"? Or even "ISO/IEC DIR 1 IEC SUP:2022"?

[2022-06-23 01:35] ronaldtse commented on #57
@mico no, it is a combination of two documents placed into one. IEC has this notation of "+" where it joins two documents.

[2022-06-28 11:52] andrew2net opened #60 "(URGENT) Add setter method `pubid.year=` for PubID"
There is a document without a year in `hit[:title]` but we cite it by a reference with year https://github.com/relaton/relaton-iso/issues/118

However the document has a year in its metadata `hit.hit[:year]`. So in case a reference contains year, and a document has no year in `hit[:title]`, and a year from `hit.hit[:year]` match to the year in the reference we need to add year to `pubid`. Perhaps

[2022-06-28 16:36] ronaldtse commented on #60
@mico can you please help? Thanks.

[2022-07-04 06:00] #57 closed

[2022-07-04 06:01] ronaldtse commented on #60
@andrew2net can you make a PR for this? Thanks.

[2022-07-04 15:25] andrew2net commented on #60
The parent class `Pubid::Core::Identifier` already has `#year=` method, so we don't need to implement it.

[2022-07-04 15:25] #60 closed

[2022-07-05 10:25] andrew2net opened #61 "Edition and PubID"
If a document has edition number the URN should contain it. For example `urn:iso:std:iso:19115:-2:stage-60.60:ed-2`.
But if a `Pubid::Iso::Identifier` instance has `edition` attribute it also produces PubID with edition `ISO 19115-2:2019 ED2`.
I discussed it with @opoudjis and he assure me that edition shouldn't present in primary PubID identifier.
It seems we need to implement rendering PubID wit

[2022-07-05 10:29] ronaldtse commented on #61
There are supposed to be multiple types of identifiers:
- undated "ISO 19115-2"
- dated with year "ISO 19115-2:2019"
- dated with year and edition "ISO 19115-2:2019 Ed 2"
- dated with year and short lang "ISO 19115-2:2019(E)"
- dated with year and ISO 639 lang "ISO 19115-2:2019 (en)"
- dated with year and ISO 639 lang "ISO 19115-2:2019 (en) Ed 2"

@mico didn't we list out these options before? Can

[2022-07-05 11:27] andrew2net opened #62 "Provide part without dash"
`Pubid::Iso::Identifier#part` instance method returns part with dash `-1`. We need part number without dash to create `RelatonIsoBib::StructuredIdentifier` object.

[2022-07-27 15:59] ronaldtse commented on #54
Ping @mico

[2022-07-30 05:37] ronaldtse opened #64 "Support parsing old ISO Cor/Amd style "Amd. N" and "Cor. N" e.g. `ISO 6709:2008/Cor. 1:2009`"
pubid-iso fails to parse this valid identifier: `ISO 6709:2008/Cor. 1:2009`.

[code]

_Originally posted by @andrew2net in https://github.com/relaton/relaton-iso/issues/109#issuecomment-1199163988_

[2022-07-30 05:55] #64 closed

[2022-08-04 17:21] ronaldtse opened #66 "Support "NWIP" as an alias for "NP" stage"
From https://github.com/relaton/relaton-iso/issues/124

The identifier is:
[code]

Which technically should have been:
[code]

Loading the former presents this error:

[code]

This is probably a pubid-iso issue. When receiving "ISO/NWIP xxx" it should normalise to "ISO/NP xxx".

[2022-08-05 03:48] #66 closed

[2022-08-05 07:59] ronaldtse opened #67 "Support "-" as Standard/Amendment/Corrigendum year separator"
This is mainly for IEEE usage of ISO identifiers, where the year part separator of ":" is often substituted with "-".

e.g.
[code]

[2022-08-05 08:10] #67 closed

[2022-08-08 07:19] #54 closed

[2022-08-09 12:40] opoudjis commented on #48
There is a clear mapping of numeric stages to abbreviations implemented in https://github.com/metanorma/metanorma-iso/blob/main/lib/metanorma/iso/front_id.rb

My intent is to replace that code with this gem. If this gem does not support that existing mapping, then I will not be doing so.

ISO may well have committed an act of mind-boggling idiocy, and made PRF ambiguous. But if you're forcing *me*

[2022-08-09 12:43] opoudjis opened #69 "Option to render language in "1-letter language code" vs "2-letter ISO 639-1 language code""
ISO identifiers can have a language suffix under certain circumstances. I am not seeing this supported in the gem currently.

https://github.com/metanorma/metanorma-iso/blob/main/lib/metanorma/iso/front_id.rb

[code]

So I expect to be able to pass to a "language" parameter of initialisation the ISO language codes "en", "fr", "ru", and if the parameter is present, that "(E)", "(F)", "(R)" be appen

[2022-08-09 13:30] ronaldtse commented on #48
The stage code implementation in this gem has received proper review by ISO/CS and is correct. I’ve already had an argument with key ISO staff over this issue and they will not change. This gem’s implementation is fully accurate.

[2022-08-09 13:31] ronaldtse commented on #48
I’ll check the provided implementation to see what we can incorporate.

[2022-08-09 13:34] ronaldtse commented on #48
@opoudjis there is also the “DPAS” prefix that the posted code doesn’t support.

[2022-08-09 13:40] opoudjis opened #70 "Provide generator usable by metanorma-iso"
The constructor with documentation provided remains inadequate for the needs of metanorma-iso. I cannot work out how to generate the identifiers I need to, and I do not have the time to reimplement them. I need this gem to generate identifiers given the information I provide.

So, I will provide the following information. I require you to provide me with code to convert that into the constructor y

[2022-08-09 13:54] opoudjis commented on #48
Given that the code as it stands round trips "ISO/FDTR 6709-1:2008" to "ISO/TR/FDIS 6709-1:2008", no, @ronaldtse, the gem's implementation is not fully accurate. The gem may be accurate in *parsing* ids, but I cannot currently use it to *generate* ids.

Pubid::Iso::Identifier.parse("ISO/FDTR 6709-1:2008").to_s = "ISO/TR/FDIS 6709-1:2008"

[2022-08-09 13:55] ronaldtse commented on #48
Indeed this ID is wrong.

[2022-08-12 03:32] ronaldtse commented on #70
@mico this is urgent, please help @opoudjis out here.

[2022-08-14 18:15] ronaldtse opened #71 "Support parsing "ISO 8601-1:2019/FDAM 1:2022(E)" identifier"
It is rather strange that ISO uses both "FDAM 1" and "FDAmd 1" abbreviations.

The project page uses "FDAmd 1":
<img width="550" alt="Screen Shot 2022-08-15 at 2 09 04 AM" src="https://user-images.githubusercontent.com/11865/184549479-6382d47d-90fc-4209-91ac-4cf48997e4e7.png">

The filename is also "FDAmd 1":
<img width="315" alt="Screen Shot 2022-08-15 at 2 09 20 AM" src="https://user-images.gith

[2022-08-17 10:16] #61 closed

[2022-08-17 10:25] #62 closed

[2022-08-21 07:20] mico commented on #71
@ronaldtse now output after parsing "ISO 8601-1:2019/FDAM 1:2022(E)" (or FDAmd) become:

And for "ISO 8601-1:2019/DAM 1:2022(E)" (or DAmd) it become:

Is it wrong?
Do we want to add options to render it as "FDAM" and "DAM"  or "FDAmd" and "DAmd" instead of full form ("FDIS Amd" and "DIS Amd")?

[2022-08-21 10:49] mico commented on #70
@opoudjis could you check https://www.rubydoc.info/gems/pubid-core/1.0.1/Pubid/Core/Identifier#initialize-instance_method
`pubid-iso` inherit methods from `pubid-core`
Do you still have questions or requirement to change something after seeing that?

[2022-08-22 03:15] ronaldtse opened #74 "Add Rubygems documentation link as badge"
As title.

[2022-08-22 03:25] ronaldtse commented on #48
@mico the behavior right now is incorrect:

[code]

1. There should be defined symbols to stages, as mentioned in https://github.com/metanorma/pubid-iso/issues/36
2. The `stage` attribute must perform validation -- it should only accept (a) mapped value as symbols, e.g. `:pwi`, `:published` (b) stage codes e.g. "20.20"
3. The generation of the identifier to string must utilize the mapping. e.g. at

[2022-08-22 03:25] ronaldtse commented on #70
Thanks @mico, the documentation in pubid-core is fine. The current implementation, however, needs to be fixed as per https://github.com/metanorma/pubid-iso/issues/48#issuecomment-1221752393 .

[2022-08-22 03:27] ronaldtse commented on #74
Users right now when they come to this repo, they can't find documentation.

[2022-08-22 03:35] ronaldtse commented on #48
Interestingly this is implemented in pubid-iec:
https://github.com/metanorma/pubid-iec/blob/2985b8a4224899fd80cd42821be0f140c9534e59/lib/pubid/iec/renderer/urn.rb#L3-L53

[2022-08-22 03:37] ronaldtse commented on #48
Related to this: https://github.com/metanorma/pubid-iec/issues/93

[2022-08-23 03:00] ronaldtse commented on #71
"ISO 8601-1:2019/FDIS Amd 1:2022(en)" and "ISO 8601-1:2019/DIS Amd 1:2022(en)" are incorrect. We should not generate them.

We need to have allow generating the following two types of identifiers, differentiated by option.

DIS Amd:
* "ISO 8601-1:2019/DAM 1:2022(E)"
* "ISO 8601-1:2019/DAmd 1:2022(E)"

FDIS Amd:
* "ISO 8601-1:2019/FDAM 1:2022(E)"
* "ISO 8601-1:2019/FDAmd 1:2022(E)"

[2022-08-27 17:03] opoudjis commented on #70
The documentation is false about Amendments:

https://www.rubydoc.info/gems/pubid-core/1.0.1/Pubid/Core/Identifier#initialize-instance_method

[code]

I would assume from that that amendments is intialised as:

Pubid::Iso::Identifier.new(amendments: Pubid::Iso::Amendement.new(number: "2"))

In fact, the code has:

[code]

which means the correct initialisation is:

[code]

The documentation simply

[2022-08-27 17:10] opoudjis commented on #70
You also don't say what the difference is between the two arguments of "copublisher", if any.

[2022-08-27 18:06] opoudjis opened #75 "Errors in ID generation"
I think there is a clear misunderstanding in how this gem is to be used.

The tests for this gem round trip from parsing ISO IDs, to constructing IDs based on the parse.

The correct way of testing this gem is to construct identifier class instances from parameters, and then compare the results to the defined exemplars.

The reason the current tests are flawed are:
* There are several attribute va

[2022-08-28 01:46] ronaldtse commented on #75
I have re-checked all the examples provided and revised the original post in detail. Some of the original issues were not accurate.

@mico can you help check the examples above and create issues as necessary? Thanks.

[2022-08-28 01:49] ronaldtse opened #76 "Handling non-standard "pre{STAGE}" identifiers"
As per https://github.com/metanorma/metanorma-iso/issues/16

Occasionally ISO TCs will issue identifiers like this:
[code]

The current implementation in Metanorma is:
* https://github.com/metanorma/metanorma-iso/commit/fc8d291fc8db0bc7ff001bf80aca7029599e7a9a
* https://github.com/metanorma/metanorma-iso/commit/7abef956b1a06dd1da42066b0b5f9dc94a65c7cf

We need to decide how to handle this, e.g.
*

[2022-08-28 02:07] ronaldtse commented on #69
We need an option to render both `(E)` and `(en)` depending on the render option. Or we can have a global option.

As per the samples provided here:
https://github.com/metanorma/pubid-iso/issues/14

[code]

ISO uses these types in different scenarios:
* "single-letter language code" for within the document
* "2-letter ISO 639-1 language code" on the website

However, in the document, ISO also uses

[2022-08-29 01:14] ronaldtse opened #77 "Pre-defined option (`to_s(...)`) of rendering document identifier vs website"
The document identifiers used on the ISO website, vs those used in the document, are different.

Example: ISO 8601-1:2019/DAmd 1

The website uses “ISO 8601-1:2019/DAmd 1(en)"
[ISO OBP](https://www.iso.org/obp/ui/#iso:std:iso:8601:-1:dis:ed-1:v1:amd:1:v1:en)
<img width="629" alt="Screen Shot 2022-08-28 at 12 11 51 PM" src="https://user-images.githubusercontent.com/11865/187101291-f04a6220-8cdc-41f

[2022-08-29 01:17] ronaldtse opened #78 "If `publisher` is not provided, default publisher is "ISO""
Must have a default publisher of "ISO" if not specified.
[code]

The result should be "ISO 17301-1".

[2022-08-29 01:19] ronaldtse opened #79 "Must accept year for Amendments and Corrigendum"
[code]

The output should be: "ISO 17301-1:2016/NP Amd 1:2017"

[2022-08-29 01:20] ronaldtse opened #80 "Amendment/Corrigendum number cannot be rendered with a colon"
[code]

The output is wrong, it should be: "ISO 17301-1:2016/NP Amd 1(en)"

[2022-08-29 01:21] ronaldtse opened #81 "When Amd/Cor stage is IS, the output should not include "IS""
[code]

When the stage is "IS", the output should be "ISO 17301-1:2016/Amd 1(en)", not "ISO 17301-1:2016/IS Amd :1(en)".

This behavior applies to both "Amd" and "Cor".

[2022-08-29 01:23] ronaldtse opened #82 ""IS" stage identifiers do not allow iterations"
We should throw an error when given an iteration number in "IS" stage:

[code]

The correct output is a raised error.

[2022-08-29 01:24] ronaldtse opened #83 "Iteration number should be supported in Amd or Cor"
[code]

The correct output is "ISO 17301-1:2016/WD Amd 1.2"

[2022-08-29 01:25] ronaldtse opened #84 "TR, TS, PAS types with DIS or FDIS stages need to use abbreviations"
[code]

This should have been "ISO/IEC/IEEE DTS 17301-1-1:2016(en)" (instead of "TS DIS", it is "DTS").

The same applies to:
* TS DIS => DTS
* TS FDIS => FDTS
* TR DIS => DTR
* TR FDIS => FDTR
* PAS DIS => DPAS
* PAS FDIS => FDPAS

[2022-08-29 01:26] ronaldtse opened #85 "DIR should be handled as a document type not a new `dir` attribute"
Right now:
[code]

Why don't we use the `type` attribute to hold `DIR`, but a new `dir` attribute?

[2022-08-29 01:31] ronaldtse commented on #75
@mico I've updated the ticket again and split the work out. Please review the associated tickets.

[2022-08-29 01:32] ronaldtse commented on #71
This task is expanded in #77 .

[2022-08-29 01:37] ronaldtse commented on #40
Parsing "ISO/CD2 14065:2018" =>
[code]

Parsing "ISO/IEC CD 9075-16.2" =>
[code]

[2022-09-01 08:51] mico commented on #48
How do I render stage when there are different several options available for the stage code?
E.g. (codes from pubid-ieee):
[code]

[2022-09-02 01:39] ronaldtse commented on #48
@mico This is the PubID ISO gem, it does not use IEEE or IEC stages, so there is no need to discuss those in this issue.

https://github.com/metanorma/pubid-iso/issues/48#issuecomment-1209330306

| International harmonized stage code | Development stage
| -- | -- |
| 00.00, 00.20, 00.60, 00.98, 00.99 | `:pwi` |
| 10.00, 10.20, 10.60, 10.92, 10.98 | `:np` |
| 10.99 | `:awi` |
| 20.00 | `:awi` |
| 2

[2022-09-02 01:39] #78 closed

[2022-09-02 10:52] mico commented on #48
How do we choose different output per document type? What is the document types?

Also don't understand why do we need separate HarmonizedStageCode class for stage codes...

[2022-09-02 11:32] ronaldtse commented on #48
Eg. DTR is the TR document type in DIS stage.  I’m confused why this is confusing.

There is a subtlety here: the stage code is a mapping to an ISO deliverable development stage. They are NOT actual stages. They only “represent” stages at certain combinations. The mapping of these codes to the IEC development stages are also different.

[2022-09-02 14:21] mico commented on #48
Now after parsing "ISO/CIE DTR 21783.2" for example, output will be "ISO/CIE TR DIS 21783.2". Should we change it?

[2022-09-02 14:31] ronaldtse commented on #48
Correct, a "TR" document at "DIS" stage is rendered with the abbreviation of "DTR".

[2022-09-03 06:54] mico commented on #48
Could you give an example how it will work?
For example I have an input as `identifier = Identifier.parse("ISO FDIS 12345")`
or I can have an input as `identifier =  Identifier.new(stage: "50.00", number: 12345)`
for now the both inputs will return the same results for:
- identifier.to_s = "ISO FDIS 12345"
- identifiers.urn = "urn:iso:std:iso:12345:stage-50.00"

What will change when we implement

[2022-09-03 07:49] mico commented on #83
@ronaldtse do we have an examples of existing identifiers with iteration number? I didn't find any

[2022-09-04 07:09] ronaldtse commented on #83
Here are some examples to use:

Amendments
[code]

Cor:
[code]

[2022-09-05 02:12] #79 closed

[2022-09-05 06:04] mico commented on #69
@ronaldtse @opoudjis rendering language codes using ISO 639-1 and single code already implemented in `pubid-iso`.
You just add option for renderer if you want to render it as a single code, I added documentation for it here: https://www.rubydoc.info/gems/pubid-core/1.1.2/Pubid%2FCore%2FRenderer%2FBase:render

We also have "language" option for `Identifier` where we can supply with ISO 639-1 langua

[2022-09-05 07:00] ronaldtse commented on #48
We have to remember that `#parse` is not a replacement for `#new.`

The following code should work:
[code]

What I meant for `HarmonizedStageCode` is that it accepts the `stage` and `substage` codes. Then the ISO and IEC PubIDs can use it.

[code]
(valid values are here: https://www.iso.org/stage-codes.html)

[2022-09-05 07:51] ronaldtse commented on #69
@mico how do I use the `with_language_code` directly using `Pubid::Iso::Identifier`? Thanks!

[2022-09-05 10:08] mico commented on #69
`Identifier.new(number: 123, language: "en").to_s(with_language_code: :single)` should output:

[code]

This was documented already, I just duplicated documentation from `Identifier#to_s` to `Renderer::Base#render`.
For some reason documentation for `Identifier#to_s` is not available at https://www.rubydoc.info/gems/pubid-iso/Pubid%2FIso%2FIdentifier:to_s
But it's published in repository https://g

[2022-09-05 12:23] ronaldtse commented on #69
Thanks! BTW, it should be "ISO 123(E)" instead of "ISO 123 (E)"?

[2022-09-05 14:32] #83 closed

[2022-09-13 05:24] mico commented on #77
@ronaldtse do we have similar pattern (stage+type) for Corrigendum? Cannot find any examples or tasks related to this?

[2022-09-13 07:13] ronaldtse commented on #77
@mico yes, the pattern for Amendment and Corrigendum is similar:

DCor (long) => DCOR (short)
FDCor (long) => FDCOR (short)

ISO/IEC 14496-12 DCOR 1
ISO/IEC 19757-4 DCOR
ISO/TR 23455:2019/FDCor 1

[2022-09-13 07:14] #48 closed

[2022-09-13 07:52] mico commented on #77
@ronaldtse I found another patterns for "CD" stage:
- ISO/IEC 10646-1:1993/pDCOR.2
- ISO/IEC 14496-12/PDAM 4

Now we converting it to long versions:

- ISO/IEC 10646-1:1993/CD Cor 2
- ISO/IEC 14496-12/CD Amd 4

Also I found there are documents with "FPDAM" (Final Proposed Draft Amendment).

Should we do something about these patterns?

[2022-09-13 08:09] ronaldtse commented on #77
@mico thank you for raising this.

## "PDAM" and "FPDAM"

These are valid but outdated abbreviations:
* "PDAM"
* "FPDAM"
* "PDTS"
* "PDTR"

As per this page (https://www.unicode.org/faq/alpha_soup.html) , "PDAM" and "FPDAM" are no longer in use:

ISO did still use them in 2019:
<img width="796" alt="Screen Shot 2022-09-13 at 3 56 54 PM" src="https://user-images.githubusercontent.com/11865/18984434

[2022-09-13 15:56] mico commented on #77
Should I add language code only for the cases when language code was in the source (when parsing) or was added while creating identifier only? (Current behavious)
Or I should always add default language code (english) except cases when format without language was requested? (does it affect all identifiers? I mean others beside identifiers with supplements)

[2022-09-13 17:08] ronaldtse commented on #77
I think we should make the language code an option in rendering.

Yes. When parsing, if there is a language code, we should also show it when the object is rendered.

[2022-09-14 03:20] mico commented on #77
@ronaldtse we already have option to remove date from identifier, for example "ISO 8601-1:2019" become "ISO 8601-1".
But in this example (`ISO 8601-1:2019/DAmd 1:2021`), we also have amendment date. Should we remove both document published date and amendment date? Or should we have an option to remove only amendment date?
Format option "ref_undated_long" don't mention it's related to supplement on

[2022-09-14 03:51] ronaldtse commented on #77
We need to clarify how the edition year (the date) applies:
* In "ISO 8601-1:2019", the edition year is "2019". With 2019, it is an exact reference (i.e. can find the document). Without 2019, it is an "undated reference" (i.e. it applies to ISO 8601-1:2019, ISO 8601-1:20xx, etc).
* In "ISO 8601-1:2019/DAmd 1:2021", there is only one edition year, which is "2021". The "2019" part belongs to the bas

[2022-09-14 16:43] ronaldtse commented on #69
@opoudjis as described by @mico , can we close this now?

[2022-09-15 00:26] #69 closed

[2022-09-15 10:09] #81 closed

[2022-09-15 12:16] #77 closed

[2022-09-15 15:07] mico commented on #80
@ronaldtse is it ok that PubID with edition year don't have edition year in generated URN?
`ISO 19110:2005/Amd 1:2011` -> `urn:iso:std:iso:19110:amd:2011:v1`
That's how it works now.

Not sure to which task leave this comment.

[2022-09-15 15:17] #80 closed

[2022-09-15 16:21] ronaldtse opened #95 "PubID with edition year don't have edition year in generated URN"
From @mico:

PubID with edition year don't have edition year in generated URN:
`ISO 19110:2005/Amd 1:2011` -> `urn:iso:std:iso:19110:amd:2011:v1`

That's how it works now.

_Originally posted by @mico in https://github.com/metanorma/pubid-iso/issues/80#issuecomment-1248235498_

[2022-09-15 16:23] ronaldtse commented on #95
RFC 5141, which documents the ISO URN scheme, indeed does not support encoding of the year:
https://www.rfc-editor.org/rfc/rfc5141.html

This means we can only generate the URN properly if we have the edition number.

We just need to be sure that the user has a way to enter the edition number for the base document, to generate the correct URN.

[2022-09-16 01:06] ronaldtse commented on #84
Creating new issue for PAS/DPAS

[2022-09-16 01:06] #84 closed

[2022-09-16 01:10] ronaldtse opened #96 "Support PAS, CD PAS, and DPAS pubids"
We need to add tests for:

* PAS in WD stage => WD PAS
* PAS in CD stage => CD PAS
* PAS in DIS stage => DPAS
* PAS in IS stage => PAS
* Also, we need to prohibit FDIS stage for PAS type by raising an error.

[code]

[2022-09-16 01:10] #82 closed

[2022-09-16 02:56] mico commented on #71
This was fixed in #77

[2022-09-16 02:56] #71 closed

[2022-09-16 03:00] mico commented on #70
Correct ininialization will be:
`Pubid::Iso::Identifier.new(amendments: [Pubid::Iso::Amendement.new(number: "2")])`

It's outdated code, we don't have it anymore.

[2022-09-16 06:24] #85 closed

[2022-09-16 06:42] ronaldtse opened #98 "Setting a default format for to_s"
As done in #77, there are 6 pre-defined string formats for an ISO PubID:

[code]

Now we need to set a default format.

[2022-09-16 06:44] ronaldtse commented on #98
## Argument for `ref_num_long`

Short: "ISO 8601-1:2019/DAM 1" can't be found on iso.org
![image](https://user-images.githubusercontent.com/11865/190573662-6f6f19bf-f692-41ec-8cd8-bf58f16bb3c8.png)

Long: "ISO 8601-1:2019/DAmd 1" can be found on iso.org
![image](https://user-images.githubusercontent.com/11865/190573693-2c32a73b-dd58-490c-8972-302d2205dfa5.png)

[2022-09-16 14:03] andrew2net opened #99 "URN without stage"
After updating to v0.1.11 URN is generated without stage:
[code]

[2022-09-16 14:08] mico commented on #37
@ronaldtse Is it all just about ISO PubID format (that what I understand from description) or about application gem to create new identifiers with different elements and rendering options?

That clearly seems about the format only.

[2022-09-16 14:50] ronaldtse commented on #37
It's just about documentation of this gem. We need to write some tutorial / guidance to explain to the potential user what is a pubid, what is the ISO pattern, what are the elements, etc.

[2022-09-16 14:59] ronaldtse commented on #75
## Amendment/Corrigendum

We need a simple way of adding an Amendment / Corrigendum.

I'm surprised that this doesn't work:
[code]

Where's the documentation on how to create an Amendment identifier?

## Stage entry

Users won't bother creating a class when creating an identifier. If the stage given is not a class, look it up for them.

[code]

[2022-09-16 14:59] ronaldtse commented on #75
I will create new tickets for these remaining issues.

[2022-09-16 15:00] ronaldtse opened #100 "Entering a stage as class is optional for creating an `Identifier`"
Users won't bother creating a class when creating an identifier. If the stage given is not a class, look it up for them.

[code]

_Originally posted by @ronaldtse in https://github.com/metanorma/pubid-iso/issues/75#issuecomment-1249475412_

[2022-09-16 15:09] ronaldtse opened #101 "Creating an identifier should not require creating Amendment/Corrigendum classes"
We need a simple way of adding an Amendment / Corrigendum.

I'm surprised that this doesn't work:
[code]

If the `amendment:` is given a hash (or hashes), convert those to classes internally.

[2022-09-16 15:10] ronaldtse opened #102 "PubID creation for Stages and Amendments"
These use cases have to work. All of them don't work -- I am merely typing out the expected output.

### Case 1

[code]

### Case 2

[code]

### Case 3

[code]

### Case 4

[code]

### Case 5

[code]

### Case 6

[code]

### Task list

* [x] #100
* [x] #101
* [x] Provide documentation on how to create an Amendment identifier
* [x] Case 1
* [x] Case 2
* [x] Case 3
* [x] Case 4
* [x] Case 5
* [x] Ca

[2022-09-16 15:10] ronaldtse commented on #102
Please add these cases to the RSpec tests.

[2022-09-16 15:10] ronaldtse commented on #75
The remaining tasks are :
* #100
* #101
* #102

Closing this one for now.

[2022-09-16 15:10] #75 closed

[2022-09-16 15:27] ronaldtse commented on #98
Let's use `ref_dated_long` as the default of `to_s` for now. Thanks!

[2022-09-17 11:55] ronaldtse commented on #99
According to RFC 5141, stage is optional, and only needed for non-published documents.

[code]

[2022-09-17 11:55] ronaldtse commented on #99
@andrew2net does this impact your work?

[2022-09-19 04:13] mico commented on #102
"year" is an edition here, it will generate "ISO 17301-1:2016" as a base document id.

[2022-09-19 04:24] ronaldtse commented on #102
@mico what I mean is, without an edition, there cannot be an amendment URN. When there is no edition number, it is possible to create a PubID in string. However, RFC 5141 URNs for amendments require existence of an edition number. Therefore an error should be raised.

[2022-09-19 12:01] #101 closed

[2022-09-19 14:14] mico commented on #102
Already have test for that https://github.com/metanorma/pubid-iso/blob/main/spec/pubid_iso/identifier_spec.rb#L868

[2022-09-19 14:50] mico commented on #102
@ronaldtse We have PubID identifiers with edition included in PubID, examples:
- ISO/IEC 17025:2005/Cor.1:2006 ED1(fr)
- ISO/IEC 30142 ED1
- ISO 22610:2006 Ed
- ISO 11553-1 Ed.2

Now we also include edition to generated PubID when we have one of these identifiers as input.
Should we keep this behaviour?
If yes, it's conflicting with this rule:

Where edition is not included in PubID output but inc

[2022-09-20 01:31] ronaldtse commented on #102
Good point @mico. Can we provide a PubID rendering option to whether show Edition or not?

[2022-09-20 01:47] opoudjis commented on #102
We have been generating undated identifiers for all ISO documents, including amendments. So both ISO 123:2001 and ISO 123, and therefore both ISO 123:2001/Amd 1:2002 and ISO 123/Amd 1.

However, I don't think you are wrong in raising this error. ISO 123 is much more meaningful than ISO 123/Amd 1 is: ISO 123 refers to the set of all editions of ISO 123; ISO 123/Amd 1 is much less well-defined.

So

[2022-09-20 01:51] ronaldtse commented on #102
Yes this error is correct indeed.

We are now disallowing the PubID "ISO 123/Amd 1" because a supplement must be based on a base publication with either edition of year.

We should not generate undated identifiers for amendments.

[2022-09-20 02:22] mico commented on #102
@ronaldtse we already have this option (with_edition):
[code]

but without this option, result will be:
[code]

Is it enough for now or we should change something?

[2022-09-20 02:43] opoudjis commented on #102
Lots of minor discrepancies between what I'd implemented and the current code, now that I have the code working. Posting to confirm:

Before: `ISO 17301-1:2016/PreNP Amd 1`. After: `ISO 17301-1:2016/NP Amd 1.3:2017`

* We are ignoring draft status (Pre), and we are not ignoring iterations in amendments.

Before `ISO 17301-1:2030/CD Cor.3`. After: `ISO 17301-1:2030/CD Cor 3`

* We are not abbreviat

[2022-09-20 02:54] ronaldtse commented on #102
This is a question to be discussed in #76

This is correct.

Correct. "Cor." is legacy practice that has been replaced with "Cor" (no period).

Correct. Iteration is after the document/part number prefixed with the full stop.

This is wrong. It should have been "ISO/WD 1000-1.3".

This is correct. The previous `IEC/IETF/ISO/TR` pattern is wrong. If there are copublishers, copublishers are separate

[2022-09-20 02:56] ronaldtse opened #105 "(URGENT) Document type appears after "ISO" with slash unless there are copublishers"
Correct behavior:

* If there are copublishers, copublishers are separated by slashes, and the document type appears after the copublishers and a space. (e.g. "ISO/IEC WD 27001")
* If there are no copublishers, the document type is placed after a slash after "ISO". (e.g. "ISO/WD 123")

`ISO WD 1000-1.3`

This is wrong. It should have been "ISO/WD 1000-1.3".

`ISO/IEC/IEEE TR 1000-1-1:2001`

This i

[2022-09-20 02:56] opoudjis commented on #102
I would still rather we be able to specify stage as numbers rather than codes; as it is, the stage parameters are abstract anyway (we specify "FDIS" to get "FDTS" for tech specs, so we might as well just specify "50".)

OK, a couple of things to fix still, but this is substantially improved.

[2022-09-20 02:58] ronaldtse opened #106 "Provide mechanism to show/hide PRF stage identifier for different usage"
The PRF stage abbreviation is usage dependent:

* In rendering a PRF document, the PRF document type is ignored (i.e. pretend to be "ISO 6709:2022").
* In referencing a PRF document, the PRF document type is rendered (i.e. "ISO/PRF 6709:2022").

This means we need to have some option of specifying behavior here.

_Originally posted by @ronaldtse in https://github.com/metanorma/pubid-iso/issues/102

[2022-09-20 02:59] ronaldtse commented on #102
Can we reverse the default behavior i.e. `with_edition: false` by default, only render edition when `with_edition: true`? Thanks!

[2022-09-20 03:02] ronaldtse commented on #102
I agree that we should also allow specifying stages via stage codes (and substage codes).

When using it though understand that there will be inconsistencies: stage codes for PRF and FDIS are identical, so anything 50.00 will be rendered by default as FDIS unless you specify the PRF stage. (@mico can you put this in the README? Thanks.)

[2022-09-20 03:31] ronaldtse commented on #76
It seems that "preCD" is a common IEC stage.

[2022-09-20 04:24] mico commented on #105
@opoudjis could you help to reproduce this bug?
We already have a test for that case: https://github.com/metanorma/pubid-iso/blob/main/spec/pubid_iso/identifier_spec.rb#L767
but it didn't fail.

[2022-09-20 06:29] mico commented on #76
@ronaldtse in the description [here](https://github.com/metanorma/metanorma-iso/commit/fc8d291fc8db0bc7ff001bf80aca7029599e7a9a#diff-1194561cbea346acb1bea37d81fdf5c70def982dcbb0c64eca2a96bc51941124R332) "draft" format is "X.Y" and in the test asset [here](https://github.com/metanorma/metanorma-iso/blob/main/spec/assets/iso.xml#L21) draft is the number "0.4".
Should we follow the same pattern, and

[2022-09-20 07:49] ronaldtse commented on #76
@mico in the future, we may have an iteration that acts like a version number, i.e. major.minor.

In any case, the test [here](https://github.com/metanorma/metanorma-iso/blob/main/spec/assets/iso.xml#L21) does not make sense because it is PreCD3 but has draft version 0.4.

[2022-09-20 07:51] ronaldtse opened #109 "Default publisher must always be ISO"
[code]

This output should be "ISO 1000".

All PubID gems must have default publishers.

[2022-09-20 07:53] mico commented on #109
@ronaldtse are you using old gem? This was fixed a long time ago.
https://github.com/metanorma/pubid-iso/blob/main/lib/pubid/iso/identifier.rb#L30

[2022-09-20 07:54] ronaldtse opened #110 "(URGENT) Stages (and abbreviations, and codes) must be validated and throw error when wrong"
Stage 40 => DIS:
[code]
Should be "ISO/DIS 1000".

[code]
Should be "ISO/DIS 1000".

[code]
Should be "ISO/DIS 1000".

~~This should throw an error, because `WDD` is not a defined stage.~~

[code]

Maybe `StageInvalidError`?

[2022-09-20 08:28] ronaldtse commented on #109
Wow, I was using pubid-iso 0.1.10, because Metanorma has locked the version. I've tried it on the latest 0.1.12 and it works. Closing.

[2022-09-20 08:28] #109 closed

[2022-09-20 08:30] ronaldtse commented on #110
Updated description after testing on pubid-iso 0.1.12.

[2022-09-20 11:14] opoudjis commented on #102
Because the pubid-iso gem is now going to act as my oracle for stage abbreviations (which should the lookup tables be implemented twice?),

I will need to be able to look up the actual abbreviation for a stage, as applied to the particular document type. So if the style FDIS is applied to a TS document, I need a function that will return me "FDTS" given the initialised identifier. id.stage.abbr st

[2022-09-20 11:28] opoudjis commented on #102
Pubid::Iso::Identifier.new(**{:number=>"1000", :language=>"en", :type=>"DIR", :publisher=>"ISO", :copublisher=>[], :urn_stage=>"60.60"}).to_s(with_language_code: :single)

outputs

"ISO DIR 1000"

and not the expected

"ISO DIR 1000(E)"

[2022-09-20 11:38] opoudjis commented on #102
But note that this entire venture was triggered by https://github.com/metanorma/metanorma-iso/issues/657  :

[2022-09-20 13:20] mico commented on #102
We don't have DIR documents with language code. (https://github.com/metanorma/pubid-iso/blob/main/spec/fixtures/iso-pubid-directives.txt)
Should we support it? @ronaldtse

[2022-09-21 01:25] ronaldtse commented on #102
See this, this is correct behavior:

@mico sure, let's support DIR with language codes as well. Thanks.

[2022-09-21 02:12] ronaldtse commented on #102
@opoudjis I need a bit more context here. The return value requested is inconsistent in these two cases:

* The stage abbreviation for ISO "FDIS" is "FDIS". "FDTS" is an abbreviation of the "doctype + stage" of a TR in FDIS. We don't currently have a name for this but we probably should.
* There is no stage abbreviation for ISO 60.60. "IS" is the abbreviation of the document type.

Maybe the "doct

[2022-09-21 07:38] #106 closed

[2022-09-22 04:44] mico opened #114 "Implement accurate numeric stage codes to abbreviations conversion"
Now "20.60" returns "AWI" instead of "WD"
"10.99" returns "NP" instead of "AWI"

https://github.com/metanorma/pubid-iso/issues/48#issuecomment-1209330306

| International harmonized stage code | Development stage
| -- | -- |
| 00.00, 00.20, 00.60, 00.98, 00.99 | `:pwi` |
| 10.00, 10.20, 10.60, 10.92, 10.98 | `:np` |
| 10.99 | `:awi` |
| 20.00 | `:awi` |
| 20.20, 20.60, 20.98, 20.99 | `:wd` |
| 30.

[2022-09-22 08:54] opoudjis commented on #102
At the moment, these are being shoved into `stage/@abbreviation` in markup, and they are being used by @Intelligent2013 in the process of creating the cover page for PDF. I was indeed giving

ISO/TR => "TR"
ISO/FDTR => "FDTR"
ISO/IEC TR => "TR"
ISO/IEC FDTR => "FDTR"

.... I don't see that consistency is that important. I think it is far more important that we not destroy a PDF workflow  that has

[2022-09-22 09:00] #110 closed

[2022-09-22 09:00] #114 closed

[2022-09-22 14:01] ronaldtse commented on #102
This inconsistency is a real issue because it impacts @Intelligent2013 as well. The PDF workflow should not need to manually reconstruct these prefixes.

Ping @Intelligent2013 on how this works for you?

[2022-09-22 14:20] Intelligent2013 commented on #102
I don't clear understand the changes. I.e.
instead of
`<stage abbreviation="TR" language=""`
will be
`<stage abbreviation="ISO/TR" language=""` or `<stage abbreviation="ISO/IEC TR" language=""`?
Then I can extract `TR`, no problem.
Currently, `stage/@abbreviation` is using to determination the PDF layout for cover page (there are 4 layouts) and some initial pages.

[2022-09-22 14:22] Intelligent2013 commented on #102
The text representation of abbreviation XSLT reads from `stage` with non-empty `@language`:
[code]

[2022-09-22 15:57] #98 closed

[2022-09-22 15:57] ronaldtse commented on #105
This is fixed in #115.

[2022-09-22 16:21] opoudjis commented on #102
You are not making any sense, @ronaldtse.  How is the PDF workflow manually reconstructing anything?! I am providing prefix, for him to display on the coverpage: IT SAYS, on the cover, "FDTR stage".  I am asking for this gem to provide me that abbreviation, so I don't have to reconstruct it myself any more.

[2022-09-22 16:25] opoudjis commented on #98
@ronaldtse

Once again, I am being left out of the loop, and that is wreaking havoc on my testing.

Until now, I was generating the iso-reference identifier as

ISO 8601-1:2019/DAmd 1:2021(E)

I have no idea what I am meant to put in there now, so I'm just going to guess that it's going to be

"ISO 8601-1:2019/DAmd 1:2021(en)"

[2022-09-23 05:09] mico commented on #96
@ronaldtse Shouldn't "ISO/CD PAS 22399" be rendered as "ISO/PAS/CD 22399"? See requirements in #105

[2022-09-23 06:14] ronaldtse commented on #96
@mico No, the non-IS document type ("PAS") never has a trailing slash ("PAS/CD" is invalid). "ISO/CD PAS 22399" is correct.

[2022-09-23 06:16] ronaldtse commented on #96
The correct patterns are:
* "{multiple-publishers} {stage + doctype}"
* "ISO/{stage + doctype}"

There is no contradiction with #105.

[2022-09-23 06:33] mico commented on #96
But we have ISO/TR identifiers like "ISO/TR 12134:2010" - should it look something like ""ISO/WD TR 12134:2010" if stage applied?

[2022-09-23 07:33] ronaldtse commented on #96
@mico yes you're correct, "ISO/WD TR 12134:2010" is accurate.

[2022-09-23 13:08] mico commented on #96
@ronaldtse we don't include "IS" for supplements and "PAS" documents. Is there any other documents for which we exclude "IS" from output?

[2022-09-24 03:04] ronaldtse commented on #96
@mico Only "IS" is omitted from all PubIDs. Supplements will always have the full base PubID. PAS documents are just like TR and TS.

[2022-09-25 04:56] opoudjis commented on #102
I still need the stage output. Moreover, whatever the incompatibility is between pubid-iso and relaton-iso needs to be resolved. https://github.com/relaton/relaton-iso/commit/5b6a684a8704eb48fbf5cc38824b9bcfb42e641b @andrew2net

This is now holding up tomorrow's release.

[2022-09-25 11:55] andrew2net commented on #99
@ronaldtse if it's ok to not have stages in URN the it doesn't impact my work. Just need to update tests to pass the related cases.

[2022-09-25 12:02] ronaldtse commented on #99
Yes it's okay to not have stage in the URN. The stage code is entirely optional.

[2022-09-25 12:03] #99 closed

[2022-09-25 12:25] andrew2net opened #117 "Issues with the latest pubid-iso"
The relaton-iso has issues with the latest pubis-iso v0.1.12
https://github.com/relaton/relaton-iso/actions/runs/3122107588/jobs/5063838020#step:6:302

Two tests fail because identical amendments comparation is false in https://github.com/relaton/relaton-iso/blob/73e86fe8e156b26fd9dac59a21ae37971ca17c31/lib/relaton_iso/iso_bibliography.rb#L245

One test fails because the pubid-iso raises the `Pubi

[2022-09-26 04:17] #105 closed

[2022-09-26 04:42] mico commented on #24
@ronaldtse is this issue about rendering edition as "ed-1"? If yes, we can consider this as closed.
You mentioned "docversion" here, as I understand the format "v{number}", but still doubts what we should consider as "docversion".

Moreover, there are "iteration" with the same format:

We don't use "v{number}" for base document URN (as docversion or iteration), only as part of amendment or corrige

[2022-09-26 07:38] ronaldtse commented on #24
@mico actually maybe we should just drop `docversion` because it is too complicated -- we cannot know this information except from ISO's internal database, e.g. what document has been "corrected" vs what has not been.

We should just deal with `iteration`. But that should be a separate ticket.

[2022-09-26 07:38] #24 closed

[2022-09-26 07:39] ronaldtse opened #119 "Render `iteration` in ISO URN"
Moreover, there are "iteration" with the same format:

We should handle iterations in ISO URNs as per RFC 5141.

_Originally posted by @mico in https://github.com/metanorma/pubid-iso/issues/24#issuecomment-1257473737_

[2022-09-26 07:44] ronaldtse commented on #102
@opoudjis thanks for the explanation. We could provide the "FDTR" abbreviation and full name for a pubid. The same happens for TR, PAS.

How about `pubid.typed_stage_abbev` for "FDTR" and `pubid.typed_stage_name` for "Final Draft Technical Report"?

[2022-09-27 08:12] mico commented on #117
@andrew2net do you want me to update relaton-iso to fix the errors related to latest pubid-iso update?
Shall we have a task in relaton-iso project for this instead of having it here?

[2022-09-27 08:13] ronaldtse commented on #117
@mico would you be able to help fix this in relaton-iso? @andrew2net is on holiday this week. Thanks!

[2022-09-27 08:36] #96 closed

[2022-09-27 08:50] #37 closed

[2022-09-27 09:02] mico commented on #119
@ronaldtse we are already rendering interations in URN but only for identifiers with stage defined:
[code]

and ignoring stage when it's not defined:
[code]

I cannot find any references why did we implement this behaviour. Do you have any ideas?

[2022-09-27 18:25] ronaldtse commented on #102
@mico can we implement this soon? thanks.

[2022-09-28 13:05] mico opened #122 "Allow to create identifiers with supplement with stage but without year"
related #117

After implementation of raising an error for identifiers with supplement but without publication year for base identifier we cannot parse identifiers like "ISO/IEC FDIS 23008-1/WD Amd 1" (https://www.iso.org/standard/82727.html).
So we need to raise an error only if document with supplement don't have stage or publication year.

Also add a note to the README and Rubydoc to the error

[2022-09-28 23:22] andrew2net commented on #117
@mico no, this issue can't be fixed in the relaton-iso. Previous version of the pubis-iso works correctly, the latest version doesn't work as expected.
Comparation of 2 equivalent amendments returns false in the latest version of pubis-iso.
It also fails with `Pubid::Iso::Errors::SupplementWithoutYearError` when the [document](https://www.iso.org/standard/85632.html) without year in amendment is f

[2022-09-29 03:52] #122 closed

[2022-09-29 09:15] #117 closed

[2022-09-29 09:21] mico opened #125 "Create method returns typed stage abbreviation"
@opoudjis thanks for the explanation. We could provide the "FDTR" abbreviation and full name for a pubid. The same happens for TR, PAS.

How about `pubid.typed_stage_abbev` for "FDTR" and `pubid.typed_stage_name` for "Final Draft Technical Report"?

_Originally posted by @ronaldtse in https://github.com/metanorma/pubid-iso/issues/102#issuecomment-1257628673_

[2022-09-29 10:52] #119 closed

[2022-09-29 11:11] ronaldtse commented on #125
Agree! Thanks!

[2022-10-03 13:40] ronaldtse commented on #125
@mico could you help action this ticket? @opoudjis needs to use it. Thanks!

[2022-10-03 13:40] opoudjis commented on #125
This ticket is the only remaining ticket for metanorma-iso integration

[2022-10-04 07:10] mico commented on #95
I believe it was fixed here https://github.com/metanorma/pubid-iso/pull/111

[2022-10-04 07:10] #95 closed

[2022-10-04 10:02] opoudjis commented on #125
"IS" is not being returned as a stage abbreviation for 60, but given that it doesn't render, that's ok. @Intelligent2013 can I confirm that no abbreviation attribute on the stage for published documents doesn't disrupt you?

[2022-10-04 10:14] opoudjis commented on #125
Getting    Pubid::Iso::Errors::NoEditionError:  Base document must have edition, when I parse an ISO base document identifier to generate its amendment. I'd refer a default edition of 1, but I'm going to supply it as a default myself.

[2022-10-04 10:26] Intelligent2013 commented on #125
@opoudjis  currently ISO XSLT uses the value from `iso-standard/bibdata/status/stage/@abbreviation` for determination of the front pages layout. Regarding the published documents, if `@abbreviation = 'IS`', then these fields render on cover page:
- edition
- `bibdata/date[@type = 'published']`
- `bibdata/date[@type = 'created']`
- revision year, month from `bibdata/version/revision-date`

For inst

[2022-10-04 10:31] opoudjis commented on #125
I see.

An added problem is that because the abbreviation is specific to the document type, we are going to get TR instead of IS in technical reports; and that is in fact correct behaviour.

I'm sorry to say this @Intelligent2013 , but I think the preferable course of action is to replace the test for published documents, from abbreviation = IS, to abbreviation attribute missing.

[2022-10-04 10:44] opoudjis commented on #125
@mico  I need the typed_stage_abbrev to work with amendments and corrigenda as well.

`Pubid::Iso::Identifier.parse("ISO 17301-1:2030/CD Amd 1").typed_stage_abbrev` is returning nil; it should return "CD Amd" (or whatever we've decided the stage abbreviation is).

I can use `Pubid::Iso::Identifier.parse("ISO 17301-1:2030/CD Amd 1").amendments.first.stage`, but that is the raw stage, not the stage

[2022-10-04 10:58] opoudjis commented on #125
I query why PRF is not provided as the stage abbreviation for 60:00. I understand that PRF is not rendered in the identifier, but @ronaldtse, can we make an exception for PRF?

[2022-10-04 11:34] opoudjis opened #128 "Stage names"
We are outputting stage names in bibdata, and ideally I would like a function to output stage names for identifiers (`typed_stage_name`), as well as stage abbreviations. However, this is not high priority, given how long this has already taken.

[2022-10-04 11:50] opoudjis opened #129 "URN needs to use urn_stage fully"
This is a bug.

`Pubid::Iso::Identifier.new(number: 200, stage: "CD", urn_stage: "30.20").urn`  = `"urn:iso:std:iso:200:stage-30.00"`

This is incorrect: it is supposed to be "urn:iso:std:iso:200:stage-30.20". That is in fact the point of passing the urn_stage to the identifier. The urn values take priority over the stage value, especially as the stage value does not include the substage.

[2022-10-04 12:10] ronaldtse commented on #125
@opoudjis I'm not sure what exactly the value and use case you're looking for. Mock code will help.

[2022-10-04 13:29] opoudjis commented on #125
....!!!!

I need to be able to indicate for front cover page purposes that the abbreviation of 60.00 is PRF, just as I do with other pre-pub states (and PRF is one).

Pubid::Iso::Identifier.new(number: 200, stage: "PRF").typed_stage_abbrev is returning nil, not "PRF"

And I need a stage abbreviation for amendments and corrigenda for the front cover page, just as I do for normal documents:

Pubid::

[2022-10-04 14:12] ronaldtse commented on #129
Yes this is indeed a bug. Thanks.

[2022-10-04 14:21] ronaldtse commented on #125
@mico, please help change the PR so that this code works:
[code]

[code]

[2022-10-04 14:47] ronaldtse opened #130 "Supplement PubIDs are the main, not a part of the base PubID"
Now that the gem is getting in use there is a major issue that we need to fix. The behavior right now with how the library implements supplements is not quite correct.

Case 1:
[code]

Notice that this case is due to different expectations:
* In the current implantation, the "Amendment" is treated as an add-on to the base identifier.
* For the user, the "Amendment" is the actual PubID. The base Pu

[2022-10-04 15:17] mico commented on #130
Maybe it should be something like:

?

Also for pubid-iec there are several supplements could be applied to the document. (CISPR TR 16-4-4:2007+AMD1:2017+AMD2:2020 CSV)
How could it work for the identifiers with several supplements?

[2022-10-04 15:56] ronaldtse commented on #130
@mico we want to stay with the same `Identifier` class, as Amendment identifiers are also Identifiers.

These are different in nature:
* In the case of "ISO 8601:2019/Amd 1:2022", it is a document that is an Amendment. The PubID references the Amendment document.
* In the case of "CISPR TR 16-4-4:2007+AMD1:2017+AMD2:2020 CSV", it is a document that "embeds" those amendments. The PubID references a

[2022-10-05 03:55] mico commented on #129
@opoudjis urn_stage is deprecated, I will remove it. You should use only stage, for your case it would be:
[code]

[2022-10-05 04:33] ronaldtse opened #132 "Conclusion from ISO: "FDAmd" vs "FDAM", "FDAM" is the only correct abbreviation"
It's now official from ISO:
* FDAmd, DAmd, CD Amd are all incorrect -- these appear due to a database/implementation limitation on the ISO content system.

The correct identifiers as per Directives Part 1 are:
* FDAM, DAM, CDAM
* (I can't find CDAM in DP1 though)

From ISO/CS:

I'm still asking about CORs, i.e. "CD Cor" vs "CDCOR", so hold off until we get information on that.

[2022-10-05 04:58] opoudjis commented on #128
What I need is a value for ext/stagename. I have never used it, but @Intelligent2013 does:

https://github.com/metanorma/metanorma-iso/issues/342

It is intended I assume for the front cover. Until now, I have been populating it with (2), the generic stage name. I assume it should be typed in this instance too, but that is a question @Intelligent2013 will have a better sense of than me.

[2022-10-05 05:05] ronaldtse commented on #128
So you need (3), not (2) i.e.

The place it is used is here:
<img width="626" alt="Screen Shot 2022-10-05 at 1 03 33 PM" src="https://user-images.githubusercontent.com/11865/193985175-171966b1-c586-43f1-8c3a-6556da4cbb16.png">

Notice that the strings for (3) is different from the abbreviated typed_stage_abbrev:
* PWI: "Preliminary Work Item"
* AWI: "Approved Work Item"
* WD: "Working Draft"
* CD:

[2022-10-05 09:49] Intelligent2013 commented on #128
Currently in ISO XSLT, the stage name determines in this priority (from high to low):
- `iso-standard/bibdata/status/stage[@language = <current document language>]`
Presentation XML instance:
[code]
In this example, the stage name will be `International Standard`.
This case added in the ticket https://github.com/metanorma/mn-native-pdf/issues/345 specially for multi-language support.

- if the val

[2022-10-07 02:15] ronaldtse opened #133 "Investigate whether changes are need to treat combined stage/type abbreviations (DTS,DTR,DPAS,FDTS,etc)"
Actually, this is kind of acceptable, and ISO internally they think this way as well.

The notion of "PDTR" just disappeared. I do not know how the "PD" stage fits into the harmonized code system.

This is the question that you exactly should ask.

This is actually a very confusing issue (this is ISO's fault).

* In ISO, they have the stages 10 to 60. 50 is "Approval" stage, and they call 50.00 "F

[2022-10-07 02:17] #125 closed

[2022-10-07 02:17] #128 closed

[2022-10-07 06:40] mico commented on #130
Is it the same for identiier "ISO/IEC 13818-1:2015/Amd 3:2016/Cor 1:2017"? Amendment and Corrigendum as add-on to the base identifier?

[2022-10-07 06:43] ronaldtse commented on #130
@mico No, this is yet another case.

This is a Technical Corrigendum "Cor 1:2017" that applies to a base identifier of "ISO/IEC 13818-1:2015/Amd 3:2016".

I.e. there are 3 levels here:
[code]

[2022-10-09 08:53] opoudjis commented on #130
This issue remains a blocker for  https://github.com/metanorma/pubid-iso/issues/125

[2022-10-09 09:07] opoudjis opened #135 "typed_stage_name is not defensive"
This method is currently implemented as:

[code]

`type` can be nil if not set explicitly, which makes this method crash. Moreover, `TYPE_NAME` is only defined for three types to begin with.

If the type is not set explicitly for an identifier, you must set it to the default value of "International Standard"; so

[code]

[code]

This should not be crashing.

[code]

This should be returning _Proof

[2022-10-09 09:10] opoudjis commented on #135
[code]

This what I'm currently having to do to use the typed_stage_name method.

I trust you can see that I should not be having to do this.

[2022-10-09 09:13] opoudjis commented on #135
I was putting the ordinal of iteration into the stage name ("First Working Draft")

The experience of this gem development makes me extremely reluctant to suggest this, especially as internationalisation would be called for; but if you wanted to do so,

[code]

[2022-10-09 13:44] opoudjis commented on #129
@mico The point of https://github.com/metanorma/pubid-iso/issues/102 was so that I would not be forced to invoke a separate Stage constructor when initialising the identifier.

It turns out I have to invoke the Stage constructor after all, in order to include harmonized_code. So there was no point removing the Stage constructor after all.

I am closing this ticket, because enough time has been squ

[2022-10-09 14:32] opoudjis commented on #129
I am not closing this ticket, because you are crashing if I try to create a stage with a harmonised code for an amendment.

`Pubid::Iso::Identifier.new(number: 200, amendments: [{:number=>"1", stage: Pubid::Iso::Stage.new(abbr: :CD, harmonized_code: "30.20")}])`

I  have pushed a PR to sidestep this issue. If this does not fit the framework you have used in transform, then change it.

[2022-10-10 02:17] ronaldtse commented on #135
Correctness of the `typed_stage_name` aside, if pubid-iso returns you with an error, you should report to the user that the PubID is invalid.

I do agree that the `typed_stage_name` should be defensive.

However, I also have to say that the "stage" is optional, because:
[code]
Is an UNDATED pubid. There cannot be a stage for it.

I'm not sure if we're handling this properly. Maybe we should have a

[2022-10-10 05:02] mico commented on #129
I don't understand why it's "crashing". Could you give have more details on error?
We already have a test for it here: https://github.com/metanorma/pubid-iso/blob/9956b9a46624bcc46f62419d0f7bd58298a26887/spec/pubid_iso/identifier/create_new_identifier_spec.rb#L77-L87
And it's not "crashing".
Your change in pull request don't make sense, in transformer we never get `Stage` object.

[2022-10-10 10:51] opoudjis commented on #129
Artur, your test cases simply do not correspond with what I am telling you I am doing. It *is* crashing.

I need to create a PubId for an amendment.

The amendment has a harmonized code.

Therefore, the ONLY place I can specify the harmonized code, as you have explicitly told me, is in a Stage call, and the only place I can put the Stage call correctly is in the Amendment specification.

`Pubid::I

[2022-10-10 11:05] ronaldtse commented on #129
[code]

It does crash.

[2022-10-11 05:26] mico opened #137 "Allow to use harmonised code and abbreviation for stage without invoking constructor"
@mico The point of https://github.com/metanorma/pubid-iso/issues/102 was so that I would not be forced to invoke a separate Stage constructor when initialising the identifier.

It turns out I have to invoke the Stage constructor after all, in order to include harmonized_code. So there was no point removing the Stage constructor after all.

I am closing this ticket, because enough time has been squ

[2022-10-11 06:45] opoudjis commented on #137
@ronaldtse wants #130 done instead; the question is how long #130 is going to take. If it is going to take a significant amount of time, this ticket should be done in the interim.

@ronaldtse You decide.

[2022-10-11 09:44] ronaldtse commented on #137
We should do #130.

[2022-10-11 11:02] opoudjis commented on #135
I will, when the gem covers all reasonable scenarios. Right now it doesn't.

[2022-10-13 09:48] mico opened #138 "Raise an error for invalid stage codes according to identifier type"
Excellent change that we're now using lower case symbols! I would like to also add the other information as relating to types, i.e.

[code]

See this for valid stages for different documents:
https://www.iso.org/sites/directives/current/consolidated/index.xhtml
![image](https://user-images.githubusercontent.com/11865/194478303-69dd1861-27d3-4307-8b61-02bb08fb2a1d.jpeg)

_Originally posted by @rona

[2022-10-14 02:53] ronaldtse commented on #138
And I've updated the sample to cover type-stage per document type:

[code]

[2022-10-18 04:20] #130 closed

[2022-10-18 04:41] mico opened #139 "Implement typed stages"
We need to be able to store typed stages like "DTR" (DTS, DPAS?) in identifier's object.
And provide "fuzzy" harmonized stages related to this "typed stage" when there are several options available.

From Skype chat with @ronaldtse:

"DTR" is the type-stage-abbreviation of "TR" in stage 40 to 50. Notice that stage code 30 is a "CD TR".

Perhaps this is useful as a clarification of the type-stage d

[2022-10-18 07:25] ronaldtse commented on #139
As per https://github.com/metanorma/pubid-iso/pull/134#discussion_r997664855 , we should move the TypedStage definitions inside:
* `Identifier::InternationalStandard`
* `Identifier::TechnicalReport`
* etc.

So that it is easier to manage future changes of these identifiers.

[2022-10-18 11:24] mico commented on #139
@ronaldtse
To summarize, for URN string we provide:
- "draft" for stages from 00.xx to 50.xx if there are several stages possible ("fuzzy" stages), but they don't include canceled stages (i.e., stages like "00.58").
- "published" (but we don't include it in URN renderer) for stages 60.xx, 90.xx
- stage number (i.e., "60.60") when HarmonizedStageCode has only one stage.

[2022-10-18 13:17] ronaldtse commented on #139
To clarify a bit more.

For the `stage` value in URNs:

https://datatracker.ietf.org/doc/html/rfc5141
[code]

1. If there is a specific stage specified (stage + substage codes), then we render URN using `stage-xx.yy` value.
2. If there is only a stage (stage code but no substage code) specified:
  * from '00', '10', '20', '30', '40', '50', we render using the `draft` value
  * from '60' and '90',

[2022-10-21 00:33] andrew2net opened #141 "Languages duplication in URN"
The latest version of the gem doubles languages in URN
[code]

[2022-10-21 00:43] andrew2net opened #142 "URN rendering fails"
[code]

[2022-10-21 03:10] ronaldtse commented on #142
@mico this is urgent, thanks.

[2022-10-21 03:11] ronaldtse commented on #141
This is a bug indeed, thanks @andrew2net !

[2022-10-21 03:12] ronaldtse commented on #133
This will be handled in #139.

[2022-10-25 15:25] mico commented on #141
@andrew2net I didn't manage to reproduce the bug, but I add a test with your case.

[2022-10-26 02:25] andrew2net commented on #141
@mico I think you tested with the GitHub version, not the released gem. Please try to switch to the `v0.2.1` tag with `git checkout v0.2.1` and run the test case.

[2022-10-26 03:58] mico commented on #142
@andrew2net I just published `pubid-iso` 0.2.2, try it. There were many changes since 0.2.1

[2022-10-26 03:59] mico commented on #141
@andrew2net please try `pubid-iso` 0.2.2

[2022-10-26 05:25] ronaldtse commented on #139
The typed stage functionality would work like this.

For example, for a Technical Specification (TS),

1. When I enter a PubID with stage 30, 40 or 50, I should get DTS as typed stage abbreviation.
2. When I enter a PubID with DTS without a stage code, I should get stage 50. (maybe?)
3. When I enter a PubID with DTS with a stage code, I should get back the stage code I entered.

[2022-10-26 05:34] andrew2net commented on #141
@mico it's getting worse. First I got this:
[code]
Please increase the minor version of a gem if you change a public method name or make any other updates that change the usage of a gem.

After fixing the method's name I got:
[code]

[2022-10-26 05:43] mico commented on #141
Are you going to fix it?
If you want me to fix it, please add details on how to reproduce the error.

[2022-10-26 06:05] #141 closed

[2022-10-26 20:17] andrew2net opened #145 "Undefined method `urn_stage='"
@mico there was a method `urn_stage=` which we used to handle the [International harmonized stage codes](https://www.iso.org/stage-codes.html). After updating pubid to the last version the method disappears.
[code]
As I understand the `stage` attribute is not the same as the `urn_stage`. How do we suppose to handle the stage codes?

[2022-10-26 20:33] andrew2net commented on #141
@mico I've made a new issue https://github.com/metanorma/pubid-iso/issues/145

[2022-10-27 03:31] mico commented on #145
@andrew2net you can add harmonized_code to the stage, there are the example in test cases:
https://github.com/metanorma/pubid-iso/blob/fd279ee6d8afe54c81699356d65d4f4f57860fdb/spec/pubid_iso/identifier/create_new_identifier_spec.rb#L78

I'll add documentation on it after finish "typed stage" implementation, it again could change API.

[2022-10-27 04:42] #142 closed

[2022-10-27 17:34] andrew2net opened #146 "Slash added without stage abbreviation"
It seems for some harmonized codes (95.99 in this case) abbreviation isn't rendered but a slash is added.
[code]

[2022-10-27 18:03] andrew2net opened #147 "Doubled space"
As titled.
[code]

[2022-10-28 00:39] ronaldtse commented on #146
Thanks @andrew2net , this is a bug indeed.

[2022-10-28 00:46] ronaldtse commented on #147
Thanks @andrew2net ! Indeed a bug.

[2022-10-28 23:50] #145 closed

[2022-10-29 04:20] mico commented on #132
@ronaldtse oops, does it mean we might need to get rid of "short" vs "long" PubID rendering?

[2022-10-29 06:20] ronaldtse commented on #132
@mico yes, we should only do the "short" version from now on. Let's remove the "long" version. At least ISO/CS *finally* admitted this is their mistake! 😉

[2022-10-31 12:35] ronaldtse commented on #139
Ping @mico for progress

[2022-10-31 14:24] mico opened #148 "Harmonized stage codes for Stages and Typed Stages"
I'm trying to figure out what codes to use for Stages and Typed Stages.
As I understand if it's just a Stage (not a Typed Stage) then for every identifier Type Harmonized stage codes will be the same, right?
Example:
"WD TR", "WD TS", "WD PAS" will have Harmonized stage codes "20.20 20.60 20.99". right?
Is it the same for "WD Amd", "WD Cor"?

For "DTS", "DTR", "DIS", "DPAS" seems it's also the sam

[2022-10-31 14:30] ronaldtse commented on #148
See https://www.metanorma.org/author/iso/ref/document-attributes/ for most of the stage codes and abbreviations.

[2022-10-31 14:54] ronaldtse commented on #148
I've elaborated out the typed stages for you:
[20221031-iso-typed-stages.xlsx](https://github.com/metanorma/pubid-iso/files/9902206/20221031-iso-typed-stages.xlsx)

[2022-11-01 04:05] mico opened #149 "Iteration in URN stages"
In [RFC5141](https://www.rfc-editor.org/rfc/rfc5141.html) I found reference to stage iterations:

But we don't use iterations for URN stages yet. Should we implement it? How do we determine stage iteration?
How does it reflect in PubID?

[2022-11-01 04:09] ronaldtse commented on #149
This is like ISO CD 1234.2 (the 2 is the iteration). In a published document, the "iteration number" does not appear in the pubid.

[2022-11-01 04:15] ronaldtse opened #150 "Incorporate test for "ISO/IEC FDIS 23008-1/WD Amd 1""
https://www.iso.org/standard/82727.html

<img width="1034" alt="Screen Shot 2022-11-01 at 12 15 06 PM" src="https://user-images.githubusercontent.com/11865/199157363-16bf3abd-5d93-4b02-a22b-d88441cfa288.png">

This is a staged AMD on top of an FDIS.

The only problem it causes is the URN scheme documented in RFC 5141, it cannot handle more than one stage.

[2022-11-01 04:21] ronaldtse commented on #150
I've emailed Holger Apel at ISO/CS about this.

[2022-11-01 04:22] ronaldtse commented on #148
Please proceed with this list. I have sent a separate email to ISO/CS publishing to confirm the list of codes.

[2022-11-01 14:33] opoudjis opened #151 "(URGENT) Incorrect inclusion of /IS in identifier"
relaton uses pubid-iso. As a result, `relaton fetch "ISO 125"` is returning the identifier of ISO 125 as ISO/IS 125:2020

/IS as a stage must NEVER be output in this context. The stage abbreviation for 60.60 exists, but it must be suppressed from inclusion in document identifiers. This is breaking live usage of relaton, and must be fixed IMMEDIATELY: documents being generated in Metanorma are curr

[2022-11-01 22:22] ronaldtse opened #152 "Create separate Identifier classes for each document type, move TypedStage definitions"
As per https://github.com/metanorma/pubid-iso/pull/134#discussion_r997664855 , we should move the TypedStage definitions inside:
* `Identifier::InternationalStandard`
* `Identifier::TechnicalReport`
* etc.

So that it is easier to manage future changes of these identifiers.

_Originally posted by @ronaldtse in https://github.com/metanorma/pubid-iso/issues/140#issuecomment-1281862878_

[2022-11-01 23:06] ronaldtse commented on #12
This is actually not completed at all! What was handled in #21 is "AWI" (Approved Work Item). Not "IWA". Reopening.

[2022-11-01 23:11] ronaldtse commented on #139
Updated matrix:
[20221031-iso-typed-stages-v1.1.xlsx](https://github.com/metanorma/pubid-iso/files/9914597/20221031-iso-typed-stages-v1.1.xlsx)

[2022-11-01 23:54] ronaldtse opened #153 "Parse "Suppl" ISO PubIDs"
"Suppl" stands for "Supplement" which is a supplementary document type no longer published by ISO, similar to Amd and Cor.

[code]

[2022-11-02 00:07] ronaldtse opened #154 "Update Typed Stages for Guide"
These are identifiers found available on the Internet.

[code]

[2022-11-02 00:08] ronaldtse commented on #139
Updated "FDGuide" to "FD Guide":
[20221031-iso-typed-stages-v1.2.xlsx](https://github.com/metanorma/pubid-iso/files/9914741/20221031-iso-typed-stages-v1.2.xlsx)

[2022-11-02 00:45] #139 closed

[2022-11-02 05:11] ronaldtse commented on #151
This happens when there is a stage set. This is clearly a bug:

[code]

[2022-11-02 05:18] ronaldtse commented on #151
Another issue that is shown by this example is that "ISO 125" does not exist -- what does exist is "ISO/R 125".

pubid-iso needs to handle the "R" document type.

[2022-11-02 05:19] ronaldtse commented on #151
Please make sure this is added to the specs.

[2022-11-02 10:02] mico opened #156 "Make "IS" default identifier's type"
Now default type is undefined, which is incorrect.
If no type is provided, we should assume the type is "IS".

[2022-11-02 14:24] andrew2net opened #157 "Simplify assignment of "edition" to a pubid (base or supplements)"
With the previous version of pubid-iso we set an edition using just `pubid.edition = "2"`. With the last v 0.2.2 we have to check if there is a base document `pubid.base` then an edition should be set for the base document `pubid.base.edition = "2"`.
I think we should implement this logic in this gem, so we can use just `pubid.edition = "2"` in both cases.

@mico the last update changed the usage

[2022-11-02 17:37] #151 closed

[2022-11-03 03:59] mico opened #158 "Space after slash for "60.60" stage"
Please make sure these two cases are added to the specs.

_Originally posted by @ronaldtse in https://github.com/metanorma/pubid-iso/issues/151#issuecomment-1299587111_

[2022-11-03 05:29] mico commented on #157
@ronaldtse could base identifier and amendment or corrigendum have separate edition numbers?

[2022-11-03 05:36] ronaldtse commented on #157
Yes. Base identifier is really an independent, separate PubID.

[2022-11-03 05:37] #158 closed

[2022-11-03 07:22] #156 closed

[2022-11-03 15:49] andrew2net commented on #157
How many IDs can pubid contain? 2, 3?

If pubid can contain more than 2 IDs shouldn't we have `pubid[N]` method to have access to the IDs? For example, use `pubid[0]` to get the main ID, `pubid[1]` to get an additional ID, etc.

Could we have `pubid.edition=` method always set an edition for the main ID? And the method like `pubid[N].edition=` for additional IDs?

[2022-11-03 15:58] ronaldtse commented on #157
So far we have seen 3 layers. Cor of an Amd of an IS. I imagine that we can access with:

“pubid.base.base”?

[2022-11-03 17:50] andrew2net commented on #157
I'm trying to tell you that there is some inconsistency in accessing a base ID. In 1 layer case, we should reference the base ID with just `pubid`. With 2 layers case, we should use `pubid.base`. With 3 layers `pubid.base.base`.
So every time we need to set an edition for a base document we have to check if `pubid.base` and `pubid.base.base` exist.
I think a reference to the base document shouldn'

[2022-11-04 05:22] ronaldtse commented on #157
Thanks @andrew2net for clarifying.

I agree that the layering concept can be challenging to use.

This actually involves two questions:
1. How often do we set edition of the base document? In what circumstances?
2. Interestingly, Amd and Cor do not support "editions" because the "number" (Amd 1) is already the edition number. They however support "version".

e.g. RFC 5141:

And

Which means this a

[2022-11-04 05:23] ronaldtse commented on #157
@mico I realize I made a mistake. The answer is NO, because:
* a base pubid can have "edition" and "version"
* a supplement pubid can only have "version" (the "edition" is actually the "number", e.g. Amd 1, Cor 1)

So in a pubid there is only one "edition".

[2022-11-07 05:09] mico commented on #157
We moved
Idea of moving supplements (amendment and corrigendum) from separate classes to Identifier class was to represent supplement as a main identifier, right?
In this case, Is it not confusing to have access to base identifier "edition" through `pubid.edition` which actually points to supplement?

[2022-11-07 07:19] mico commented on #152
@ronaldtse should "amendments" and "corrigendums" become `Identifier::Amendment` and `Identifier::Corrigendum` instead of being just `Identifier` as well?

[2022-11-07 07:30] ronaldtse commented on #152
@mico yes, these type types should be separate Identifier classes.

[2022-11-07 13:11] ronaldtse commented on #152
I think both types should be supported.

[2022-11-19 19:43] andrew2net opened #163 "#parse_from_title returns an empty string"
[code]

[2022-11-19 22:25] andrew2net opened #164 "TTA type is not available"
The document [ISO/TTA 2:1997](https://www.iso.org/standard/27598.html) has a type that this gem doesn't recognize.
[code]

[2022-11-28 13:25] opoudjis commented on #152
Unless this is documented in the Readme page, it is unusable by me. The rspec examples, astonishingly, continue not to provide usage examples that I can copy of how to use the gem.